<div class="footer">
    <div class="container">
        <div class="first">
            <h4>Order Management System</h4>
           
        </div>
        <div class="second">
            <h4>Services</h4>
            <ul class="list">
                <li>
                    Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy
                </li>
            </ul>
        </div>
        <div class="third">
            <h4>Office</h4>
            <p>
            11/43 new Ramayanapu street,porumamilla,Andhra pradesh</p>
            <p>+91 8904829515</p>
            <p>venkat2@birlasoft.com
            </p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2019 All rights reserved | This application is made with by venkat (136841)</p>
    </div>
</div>